body {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #F3F3F3;
    position: fixed;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.console {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.log {
    background-color: #fff;
    height: 64px;
    width: 320px;
    padding: 0 4px;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;
}

.log p {
    margin: 4px 0;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
