body {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #F3F3F3;
    position: fixed;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
